@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
}

.binary {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-block {
  display: flex;
  min-height: 100vh;
  background: url("../img/BG-Header.jpg");
}

.binary-body {
  padding: 100px 0 0 0;
  flex: 1 1 auto;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.binary-body .body-title {
  margin: 75px 0 10px 0;
  font-size: 34px;
  font-family: "Lato Black";
  text-transform: uppercase;
  line-height: 40px;
  color: #ffffff;
  letter-spacing: 5.43px;
}
.binary-body .subtitle {
  color: #ffffff;
  letter-spacing: 4.15px;
  font-size: 26px;
  position: relative;
}
.binary-body .subtitle:after {
  content: "";
  bottom: 0;
  left: 50%;
  width: 105px;
  height: 2px;
  border: 2px solid #fff;
  position: absolute;
  margin: 0 0 -50px -50px;
}
.binary-body .buton {
  width: 182px;
  height: 47px;
  margin: 150px 0 0 0;
  border: 1px solid #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  background: none;
  color: #ffffff;
}
.binary-body .arrow img {
  display: block;
  margin: 75px auto 0;
}

.navi {
  height: 60px;
  margin: 0 auto;
}
.navi li {
  float: left;
}
.navi li a {
  margin: 20px 25px;
  display: block;
}

.about-block {
  margin: 95px 0;
}

.about-body {
  max-width: 825px;
  margin: 0 auto;
  text-align: center;
}
.about-body .about-title {
  font-size: 34px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  margin-bottom: 70px;
  position: relative;
}
.about-body .about-title:after {
  content: "";
  position: absolute;
  width: 81px;
  height: 1px;
  background-color: #000000;
  bottom: 0;
  margin: 0 0 -30px -50px;
  left: 50%;
}
.about-body .about-text {
  width: 650px;
  margin: 0 auto 50px;
  color: #868585;
  line-height: 25.89px;
}
.about-body .about-row {
  display: flex;
}
.about-body .about-row .about-column {
  flex: 0 0 33, 333%;
  padding: 0 20px;
}
.about-body .about-row .about-column .about-item-icon {
  width: 92px;
  height: 92px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
}
.about-body .about-row .about-column .about-item-title {
  color: #000000;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0 0 35px 0;
}
.about-body .about-row .about-column .about-item-text {
  color: #868585;
  text-align: center;
  line-height: 26px;
}

.portfolio {
  background-color: #f3f3f3;
}
.portfolio .portfolio-body {
  max-width: 1100px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
}

.portfolio-title {
  color: #000000;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 5.43px;
  margin-bottom: 90px;
  position: relative;
}
.portfolio-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 81px;
  height: 1px;
  background-color: #000000;
  left: 50%;
  margin: 0 0 -40px -50px;
}

.portfolio-navi {
  font-size: 15px;
  text-transform: uppercase;
  color: #3c3c3c;
  margin-bottom: 130px;
}
.portfolio-navi a {
  margin: 0 25px;
}

.portfolio-row {
  display: flex;
  margin-bottom: 50px;
}

.portfolio-column:nth-child(1) {
  margin-right: 12px;
}

.portfolio-column:nth-child(2) {
  margin-left: 12px;
}

.portfolio-photo {
  background-color: #eaeaea;
  height: 365px;
  width: 538px;
  margin-bottom: 16px;
}

.btn {
  width: 182px;
  height: 47px;
  border: 1px solid #000;
  background: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  margin-bottom: 60px;
}

.partner-body {
  background: url("../img/BG-bottom.png");
  height: 390px;
}

.partner-title {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 1.8px;
}

.partner-logo {
  width: 585px;
  margin: 0 auto;
  height: 65px;
}
.partner-logo a {
  margin-right: 106px;
}
.partner-logo a:last-child {
  margin-right: 0;
}
.partner-logo .logo4 {
  margin-top: 9px;
}

.contact-body {
  padding: 180px 0 100px 0;
  text-align: center;
  margin: 0 auto;
  width: 720px;
}

.contact-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 5.39px;
  position: relative;
}
.contact-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 81px;
  height: 1px;
  background-color: #000000;
  left: 50%;
  margin: 0 0 -40px -50px;
}

.contact-info {
  padding-top: 170px;
  display: flex;
  justify-content: space-between;
}

.contact-info-send {
  text-align: left;
  width: 383px;
}
.contact-info-send .name-mail {
  display: flex;
  margin-bottom: 75px;
  justify-content: space-between;
}
.contact-info-send .name-mail .name input {
  margin-top: 16px;
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
}
.contact-info-send .name-mail .mail input {
  margin-top: 16px;
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
}
.contact-info-send .mesage textarea {
  margin-top: 20px;
  width: 383px;
  height: 118px;
  background-color: #f8f7f7;
  margin-bottom: 40px;
}
.contact-info-send .mesage button {
  border: 1px solid #000;
  border-radius: 50px;
  float: right;
  width: 70px;
  height: 30px;
}

.contact-info-text {
  width: 252px;
  text-align: left;
}
.contact-info-text .info-text-main {
  color: #000000;
  line-height: 26px;
  margin-bottom: 40px;
}
.contact-info-text .info-name {
  margin-bottom: 20px;
}
.contact-info-text .item {
  margin-bottom: 30px;
}
.contact-info-text .item img {
  margin-right: 15px;
}

.footer {
  height: 274px;
  background-color: #3c3c3c;
}

.footer-body {
  padding: 50px 0 0 0;
  text-align: center;
  margin: 0 auto;
  width: 265px;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-navi li {
  display: inline;
}
.footer-navi li a {
  color: #a4a4a4;
  display: inline-block;
  margin-right: 20px;
}
.footer-navi li:last-child > a {
  margin: 0;
}

.footer-info {
  margin-top: 35px;
  color: #6c6c6c;
}